<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>登录</title>

<link rel="stylesheet" href="__PUBLIC__/admin/css/normalize.css">

</head>

<body>

<div class="login">
	<h1>后台登录</h1>
	<form method="post" action="__CONTROLLER__/checkLogin">
		<input type="text" name="mg_username" id="admin_user" placeholder="用户名" required="required" />
		<input type="password" name="mg_password"  id="admin_psd" placeholder="密码" required="required" />
		<button type="submit" class="btn btn-primary btn-block btn-large">登录</button>
	</form>
</div>



</body>
</html>
