<include file="Public:header" />
    <div>
        这里编辑内容
    </div>
<include file="Public:footer" />
<script type="text/javascript" src="__ROOT__/Public/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/charCount.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/ui.spinner.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/plugins/chosen.jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/custom/general.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/custom/forms.js"></script>
</html>